  fastapi
  uvicorn
  sqlalchemy
  pymysql
  alembic
  python-dotenv
  pydantic
  pydantic[email]
  bcrypt
  python-jose[cryptography]
  pytest
  pytest-asyncio
  httpx
  redis
  slowapi
  authlib
  itsdangerous
  firebase-admin